<table border='0' cellpadding='0' cellspacing='0' style='width:100%;'>
  <tr style='border: 1px solid black;'>
    <th>Unidade Curricular</th>
    <th>Epoca</th>
    <th>Exame Oral</th>
    <th>Exame Escrito</th>
    <th>Nota</th>
    <th>Consulta</th>
    <th>Data Oral</th>
  </tr>
  <tr>
    <td><%= @unit %></td>
    <td><%= @epoch %></td>
    <td><%= @oral_ex %></td>
    <td><%= @write_ex %></td>
    <td><%= @final_grade %></td>
    <td><%= @consultation_date %></td>
    <td><%= @oral_date %></td>
  </tr>
</table>