<!DOCTYPE html>
<html>
  <head>
    <title>UFPBot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="skin-blue sidebar-mini">
    <div class="wrapper" style="height: auto; min-height: 100%;">
      <%= yield %>
    </div>
  </body>
</html>
